body {
    margin: 0;
    padding: 0;
}

header figure, information figure {
    margin: 0;
    position: relative;
    display: inline-block;
}

header img {
   width: 100%;
   height: 400px;
}

header figcaption {
    height: 400px;
    text-align: center;
    background-color: #000000c9;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
}

header h3 {
   color: #94734a;
   
   display: inline-block;
    margin: 0;
    position: absolute;
    left: 50px;
    top: 0;
    font-size: 25px;
}

strong {
    color: white;
}


header ul {
    list-style: none;
    list-style: none;
    margin: 0px;
    padding: 0;
    text-align: right;
    padding: 10px 40px;
    display: block;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

nav  button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 10px;
}

.login {
    background-color: #f99b44;
}

.sign-in {
    background-color: #ff3115;
}

i.fas.fa-search {
    font-size: 20px;
    color: white;
    margin: 0;
}

i.fas.fa-bars {
    font-size: 30px;
    text-align: right;
    padding: 10px 40px;
    display: none;
}

.major {
    padding: 13px 40px;
    font-size: 19px;
   border-radius: 10px;
   border:none;
   background-color: #043867;
   color: white;
}

 header h4 {
    font-size: 21px;
    margin-top: 0;
    font-weight: lighter;
}

header h1 {
     font-weight: lighter;
     font-size: 60px;
     margin-bottom: 0;
}

header h2 {
    font-size: 46px;
    font-weight: lighter;
    margin: 0;
}

header div {
    line-height: 58px;
}

/*@media ( min-width:320px) {
   header ul {
        display: none;
    }
    i.fas.fa-bars {
        display: block;
        font-size: 17px;
        padding-right: 10px;
    }
    header h3 {
       left: 0;
   }
   header h1 {
    font-size: 63px;
   }
   header h2 {
    font-size: 30px;
   }
   header h4 {
       font-size: 14px;
   }

}*/

description {
    display: flex;
    height: 100%;
}

.march, .apr, .aug {
    display: inline-block;
    border:none;
    border-radius: 55%;
    padding: 10px 8px;

}

.march, .apr {
    background-color: #043867;
    color: white;
}

.aug {
    background-color: #f6d652;
    color: white;
}

date {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.up-coming-events, .our-blogs {
    font-size: 17px;
}

.award, .test-post {
    display: flex;
    margin: 0px 20px 10px 30px;

}

.poem, .picnic-party {
    display: flex;
   margin: 0px 15px 10px 20px; 
}

.details {
    margin-left: 10px;
}

.details p, .test-post p {
    margin-top: 0;
   width: 85%;
}

/*@media (min-width:320px) {
    description {
        flex-direction: column;
    }
    .details p, .test-post p {
        width: 100%;
        font-size: 13px;
    }
}*/

section h3 {
    text-decoration: underline;
    color: #8ca5b1;
    margin: 0;
}
 


.details p a {
    color: gray;
}


.our-blogs {
    background-color: #faf2c8;
    border: none;
}

.up-coming-events h2, .our-blogs h2 {
    text-align: center;
}

.up-coming-events button, .our-blogs button {
    position: relative;
    left: 40%;
}



description button {
    padding: 13px 15px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    background-color: #043867;
    border: none;
} 

   
.blog {
    background-color: #f6d652;
    
}



.slide {
    text-align: center;
}


.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



section  h2 {
    font-weight: lighter;
    font-size: 30px;
    margin-top: 0;
    padding-top: 30px;


}

.learn {
    padding: 15px 20px;
    background-color: #043867;
    color: white;
    border: none;
    border-radius: 5px;
}

.myslides-fade  {
    position: relative;
   
   
}

.myslides-fade img {
    
    width: 100%;
    height: 400px;
   
}


.text {
    display: inline-block;
    background-color: #000000a3;
    color: white;
    position: absolute;
    left: 25%;
    top: 27%;
    width: 573px;
    height: 200px;
    text-align: center;
}


/*@media (min-width:320px) {
   
    .text {
        width: 316px;
        left: 21px;
    }
    
    
    section h4 {
        font-size: 12px;
    }
}*/




.fade {
  
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .active, .dot:hover {
    background-color: white;
  }
 
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

footer {
    display: flex;
    justify-content: space-around;
}


footer h1 {
      font-weight: lighter;
      margin-bottom: 0;
}

footer div p {
      margin-top: 5px;
}

footer span, footer h2 {
      color: #796666;
      font-weight: lighter;

}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    color: #999999;
    font-size: 17px;
}

footer i {
    font-size: 26px;
    border: 1px solid white;
    padding: 9px;
}

.explore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-facebook-f, .fa-twitter, .fa-youtube, .fa-linkedin-in, .fa-instagram {
    color: white;
    margin: 0px 6px 0px 0px;
}

.fa-facebook-f {
    background-color: #495ca5;
   
}

.fa-twitter {
    background-color: #41aaf2;
}

.fa-youtube {
    background-color: #dd0000;
}

.fa-linkedin-in {
    background-color: #0074b8;
}

.fa-instagram {
    background-color: #ea0064;
}

.connect h2 {
    margin-bottom: 5px;
    font-size: 27px;
}

/*@media (min-width:320px) {
    footer {
        display: block;
    }
    footer h1, footer p {
        text-align: center;
    } 
    .explore {
        display: flex;
        justify-content: space-around;
    }
    .connect {
        text-align: center;
    }

}*/

